$foundation-icon-font-class-Prefix: "foundicon-";


$general-foundation-icon-font-importer-configuration: (
  "settings", "000"
  , "heart", "001"
  , "star", "002"
  , "plus", "003"
  , "minus", "004"
  , "checkmark", "005"
  , "remove", "006"
  , "mail", "007"
  , "calendar", "008"
  , "page", "009"
  , "tools", "00a"
  , "globe", "00b"
  , "home", "00c"
  , "quote", "00d"
  , "people", "00e"
  , "monitor", "00f"
  , "laptop", "010"
  , "phone", "011"
  , "cloud", "012"
  , "error", "013"
  , "right-arrow", "014"
  , "left-arrow", "015"
  , "up-arrow", "016"
  , "down-arrow", "017"
  , "trash", "018"
  , "add-doc", "019"
  , "edit", "01a"
  , "lock", "01b"
  , "unlock", "01c"
  , "refresh", "01d"
  , "paper-clip", "01e"
  , "video", "01f"
  , "photo", "020"
  , "graph", "021"
  , "idea", "022"
  , "mic", "023"
  , "cart", "024"
  , "address-book", "025"
  , "compass", "026"
  , "flag", "027"
  , "location", "028"
  , "clock", "029"
  , "folder", "02a"
  , "inbox", "02b"
  , "website", "02c"
  , "smiley", "02d"
  , "search", "02e"
);
$general-foundation-icon-font-configuration: (
    "../fonts/general_foundicons"
    , "GeneralFoundicons"
    , $foundation-icon-font-class-Prefix
    , "general"
);

$general-enclosed-foundation-icon-font-importer-configuration: ( 
  "settings", "000"
  , "heart", "001"
  , "star", "002"
  , "plus", "003"
  , "minus", "004"
  , "checkmark", "005"
  , "remove", "006"
  , "mail", "007"
  , "calendar", "008"
  , "page", "009"
  , "tools", "00a"
  , "globe", "00b"
  , "home", "00c"
  , "quote", "00d"
  , "people", "00e"
  , "monitor", "00f"
  , "laptop", "010"
  , "phone", "011"
  , "cloud", "012"
  , "error", "013"
  , "right-arrow", "014"
  , "left-arrow", "015"
  , "up-arrow", "016"
  , "down-arrow", "017"
  , "trash", "018"
  , "add-doc", "019"
  , "edit", "01a"
  , "lock", "01b"
  , "unlock", "01c"
  , "refresh", "01d"
  , "paper-clip", "01e"
  , "video", "01f"
  , "photo", "020"
  , "graph", "021"
  , "idea", "022"
  , "mic", "023"
  , "cart", "024"
  , "address-book", "025"
  , "compass", "026"
  , "flag", "027"
  , "location", "028"
  , "clock", "029"
  , "folder", "02a"
  , "inbox", "02b"
  , "website", "02c"
  , "smiley", "02d"
  , "search", "02e"
  );
$general-enclosed-foundation-icon-font-settings: (
    "../fonts/general_enclosed_foundicons"
    , "GeneralEnclosedFoundicons"
    , $foundation-icon-font-class-Prefix
    , "enclosed"
);

$accessibility-foundation-icon-font-importer-configuration: (
  "wheelchair", "000"
  , "speaker", "001"
  , "fontsize", "002"
  , "eject", "003"
  , "view-mode", "004"
  , "eyeball", "005"
  , "asl", "006"
  , "person", "007"
  , "question", "008"
  , "adult", "009"
  , "child", "00a"
  , "glasses", "00b"
  , "cc", "00c"
  , "blind", "00d"
  , "braille", "00e"
  , "iphone-home", "00f"
  , "w3c", "010"
  , "css", "011"
  , "key", "012"
  , "hearing-impaired", "013"
  , "male", "014"
  , "female", "015"
  , "network", "016"
  , "guidedog", "017"
  , "universal-access", "018"
  , "elevator", "019"
);
$accessibility-foundation-icon-font-settings: (
    "../fonts/accessibility_foundicons"
    , "AccessibilityFoundicons"
    , $foundation-icon-font-class-Prefix
    , "access"
);

$social-foundation-icon-font-importer-configuration: (
  "thumb-up", "000"
  , "thumb-down", "001"
  , "rss", "002"
  , "facebook", "003"
  , "twitter", "004"
  , "pinterest", "005"
  , "github", "006"
  , "path", "007"
  , "linkedin", "008"
  , "dribbble", "009"
  , "stumble-upon", "00a"
  , "behance", "00b"
  , "reddit", "00c"
  , "google-plus", "00d"
  , "youtube", "00e"
  , "vimeo", "00f"
  , "flickr", "010"
  , "slideshare", "011"
  , "picassa", "012"
  , "skype", "013"
  , "steam", "014"
  , "instagram", "015"
  , "foursquare", "016"
  , "delicious", "017"
  , "chat", "018"
  , "torso", "019"
  , "tumblr", "01a"
  , "video-chat", "01b"
  , "digg", "01c"
  , "wordpress", "01d"
);
$social-foundation-icon-font-configuration: (
    "../fonts/social_foundicons"
    , "SocialFoundicons"
    , $foundation-icon-font-class-Prefix
    , "social"
);